/camera-project-springmvc/nbproject/private/
/camera-shop-project-spring-mvc/nbproject/private/
/camera-shop-project-spring-mvc/build/
/web-camera-shop-springmvc-project/nbproject/private/
/web-camera-shop-springmvc-project/build/
/web-camera-shop-springmvc-project/dist/
/employee_project/nbproject/private/