<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="web-camera-shop-springmvc-projectPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>sv.iuh.project.model.Contact</class>
    <class>sv.iuh.project.model.OrderProduct</class>
    <class>sv.iuh.project.model.ProductBrand</class>
    <class>sv.iuh.project.model.UserShop</class>
    <class>sv.iuh.project.model.OrderDetail</class>
    <class>sv.iuh.project.model.Comment</class>
    <class>sv.iuh.project.model.Product</class>
    <class>sv.iuh.project.model.ProductCategory</class>
    <class>sv.iuh.project.model.Country</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:sqlserver://localhost:1433;databaseName=K2NCamShopDatabase"/>
      <property name="javax.persistence.jdbc.user" value="sa"/>
      <property name="javax.persistence.jdbc.driver" value="com.microsoft.sqlserver.jdbc.SQLServerDriver"/>
      <property name="javax.persistence.jdbc.password" value="123"/>
    </properties>
  </persistence-unit>
</persistence>
